{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container-main">
        <h3>Buttons and Anchors demo</h3>
        <ul>
            <li><a href="#" class="btn-main btn-main-yellow">Default</a></li></br>
            <li><a href="#" class="btn-main btn-main-blue">Default</a></li></br>
            <li><a href="#" class="btn-main btn-main-gray">Default</a></li></br>
            <li><a href="#" class="btn-main disabled">Default</a></li></br>
            <li><a href="#" class="btn-main btn-large btn-main-yellow">Default</a></li></br>
            <li><a href="#" class="btn-main btn-large btn-main-blue">Default</a></li></br>
            <li><a href="#" class="btn-main btn-large btn-main-gray">Default</a></li></br>
            <li><a href="#" class="btn-main btn-large disabled">Default</a></li></br>
            <li><a href="#" class="btn-main btn-small btn-main-yellow">Default</a></li></br>
            <li><a href="#" class="btn-main btn-small btn-main-blue">Default</a></li></br>
            <li><a href="#" class="btn-main btn-small btn-main-gray">Default</a></li></br>
            <li><a href="#" class="btn-main btn-small disabled">Default</a></li></br>
        </ul>
    </div>
{% endblock %}

