{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container-main">
        <ul>
            <li><h1>Buttons Demo</h1></li>
            <li><a target="_blank" href="/ui_statics/buttons_demo/">1. Buttons Demo</a></li>
            <li><h1>SignUp/Login/Reset Password Pages</h1></li>
            <li><a target="_blank" href="/ui_statics/signup/">2. Sign Up Page</a></li>
            <li><a target="_blank" href="/ui_statics/signup_invited/">3. Sign Up Invited Page</a></li>
            <li><a target="_blank" href="/ui_statics/login/">4. Login Page</a></li>
            <li><a target="_blank" href="/ui_statics/login_errors/">5. Login Errors Page</a></li>
            <li><a target="_blank" href="/ui_statics/reset_password/">6. Reset Password Page</a></li>
            <li><a target="_blank" href="/ui_statics/reset_password_confirm/">7. Reset Password Confirm Page</a></li>
            <li><a target="_blank" href="/ui_statics/set_new_password/">8. Set new Password Page</a></li>
            <li><a target="_blank" href="/ui_statics/password_changed/">9. New Password Set Page</a></li>
            <li><h1>Profile Pages</h1></li>
            <li><a target="_blank" href="/ui_statics/my_account/">10. Account Profile Page</a></li>
            <li><a target="_blank" href="/ui_statics/my_account_password/">11. Account Profile Password Change Page</a></li>
            <li><a target="_blank" href="/ui_statics/my_account_notifications/">12. Account Profile Notifications Page</a></li>
            <li><h1>Company Pages</h1></li>
            <li><a target="_blank" href="/ui_statics/company_default/">13. Company Profile Page</a></li>
            <li><a target="_blank" href="/ui_statics/company_services/">14. Company Services Page</a></li>
            <li><a target="_blank" href="/ui_statics/company_services_offered/">15. Company Services offered Page</a></li>
            <li><a target="_blank" href="/ui_statics/company_tech/">16. Company Technicians Page</a></li>
            <li><a target="_blank" href="/ui_statics/company_notifications/">17. Company Notifications Page</a></li>
            <li><a target="_blank" href="/ui_statics/company_billing/">18. Company Billing Page</a></li>
            <li><h1>Widgets Landing Pages</h1></li>
            <li><a target="_blank" href="/ui_statics/services_location/">19. Services &amp; Location Page</a></li>
            <li><a target="_blank" href="/ui_statics/select_date_time/">20. Select Date &amp; Time Page</a></li>
            <li><a target="_blank" href="/ui_statics/enter_address/">21. Enter Address Page</a></li>
            <li><a target="_blank" href="/ui_statics/submit_info_confirm/">22. Submit Info &amp; Confirmation Page</a></li>
            <li><a target="_blank" href="/ui_statics/additional_notes/">23. Additional Notes Page</a></li>
            <li><a target="_blank" href="/ui_statics/add_to_calendar/">24. Add To Calendar Page</a></li>
            <li><a target="_blank" href="/ui_statics/no_matches/">25. No Matches Page</a></li>
        </ul>
    </div>

{% endblock %}

