{% extends 'base.html' %}

{% load staticfiles %}
{% load config_tags %}

{% block content %}
    <div class="bg-signup"></div>
    <div class="bg-login"></div>
    <div class="container-main">
        <div class="signup-wrapper login">
            <div class="gradient-header">
                <h2>Login to your HomeTool account</h2>
            </div>
            <div class="registration-body">
                <form class="registration-form" method="get" accept-charset="utf-8">
                    <div class="form-group acc-input-grp">
                        <input type="email" placeholder="Email address" class="form-control account-input">
                        <!-- type='email' not supported in IE9 -->
                    </div>
                    <div class="form-group acc-input-grp has-error">
                        <input type="password" placeholder="Password" class="form-control account-input">
                    </div>
                    <a href="#" class="forgot-password pull-right">Forgot your password?</a>
                    <button type="submit" class="btn-main disabled btn-large" disabled="disabled">Log In</button>
                    <p class="error-msg msg font14">Your password is incorrect<br/>Please try again, or click Forgot Password</p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
