{% extends 'base.html' %}

{% load staticfiles %}
{% load config_tags %}

{% block content %}
    <div class="bg-signup"></div>
    <div class="bg-login"></div>
    <div class="container-main">
        <div class="signup-wrapper login">
            <div class="gradient-header">
                <h2>Select a new HomeTool password</h2>
            </div>
            <div class="registration-body">
                <div class="reg-msg set-password">
                    <p class="font18">
                        Your password has been successfully changed. <br/>Click ‘Okay’ and you will be logged in.
                    </p>
                    <a href="#" class="btn-main btn-main-yellow btn-large">Okay</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
