{% extends 'base.html' %}

{% load staticfiles %}
{% load config_tags %}

{% block content %}
    <div class="bg-signup"></div>
    <div class="bg-login"></div>
    <div class="container-main">
        <div class="signup-wrapper login">
            <div class="gradient-header">
                <h2>Reset your HomeTool password</h2>
            </div>
            <div class="registration-body">
                <div class="reg-msg">
                    <p class="font18">
                        We just sent email instructions to 
                        <a href="mailto:jcanolli@gmail.com">jcanolli@gmail.com</a>
                        to reset your password.
                    </p>
                    <p class="font18">If you don’t receive instructions soon, check your email spam and junk filters, or try resending your request.</p>
                    <a href="#" class="btn-main btn-main-yellow btn-large">Okay</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
