{% extends 'base.html' %}

{% load staticfiles %}
{% load config_tags %}

{% block content %}
    <div class="bg-signup"></div>
    <div class="bg-login"></div>
    <div class="container-main">
        <div class="signup-wrapper login">
            <div class="gradient-header">
                <h2>Select a new HomeTool password</h2>
            </div>
            <div class="registration-body">
                <form class="registration-form set-password" method="get" accept-charset="utf-8">
                    <div class="form-group acc-input-grp">
                        <input type="password" placeholder="New password" class="form-control account-input">
                    </div>
                    <div class="form-group acc-input-grp">
                        <input type="password" placeholder="Confirm password" class="form-control account-input">
                    </div>
                    <button type="submit" class="btn-main btn-main-yellow btn-large">Change password</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
